* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  font-family: Muli, sans-serif;
  font-size: 16px;
}

.container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* FORMULARIO */

form {
  background-color: #ccc9e7;
  color: #2e3138;
  border: 5px solid #FFFFF0;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #FFFFF0;
  font-size: 3rem;
  text-align: center;
  font-family: "Space Mono", monospace;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  padding: 5px 10px;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #FFFFF0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select:focus {
  border: 3px solid #a30015;
  outline: none;
}

.campo {
  margin-bottom: 10px;
}

.p-radio {
  margin: 0 10px 0 2px;
  font-size: 1rem;
}

input[type='radio'] {
  margin: 0 2px 0 2px;
}
